@font-face {
    font-family: 'raavi';
    src: url(fonts/raavi.ttf);
}

body{
    font-family: 'raavi';
    background-color: #ffffff;
    font-size: 20px;
    margin: 0;
    position: relative;
}
a{
    color: inherit;
    text-decoration: none;
}
p, ul, li, div{
    line-height: 1.2;
}

.slide{

    display: none;
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
}
.slide .slide-content{
    padding: 50px 80px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.arrow{
    position: absolute;
    cursor: pointer;
}



/* nav related items*/
#main-nav-bar-container{
    display: none;
    z-index: 5;
    position: absolute;
    width: 100%;
    text-align: center;
}
.nav-bar{
    display: inline-block;
    width: 500px;
}
.nav{
    background-color: gray;
}
.mobile-nav-container{
    display: none;
    width: 100%;
    text-align: center;
    z-index: 5;
    position: absolute;
}
.bottom-slant{
    border-top: 14px solid gray;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
}
.nav-button{
    cursor: pointer;
    color: #ffffff;
    padding-right: 3px;
    padding-left: 3px;
}
.nav-button:hover{
    color: #1c94c4;
}
.nav-button.active{
    color: #1c94c4;
    font-weight: bold;
}
.nav-button.no-hover{
    cursor: default;
}
#right-arrow{
    background: url("../images/right_arrow.png") no-repeat center;
    width: 80px;
    z-index: 1;
    right: 0;
    height: 100vh;
    display: none;
}
#left-arrow{
    background: url("../images/left_arrow.png") no-repeat center;
    width: 80px;
    z-index: 1;
    left: 0;
    height: 100vh;
    display: none;
}

/*slide specific stuff*/
.slide-shader{
    z-index: 0;
    background-color: #ffffff;
    opacity: .35;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    position: absolute;
}
#slide-0-0 {
    height: 100vh;
    width: 100%;
    background-image: url('../images/background.jpg');
    background-size: 100%;
    z-index: -2;
}

.sub-title{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}
.about-image-container{
    margin-top: 20px;
    text-align: center;
}
.about-image{
    height: 300px;
}
#sports{
    cursor: pointer;
}
.project-link{
    font-weight: bold;
}
.project-link:hover{
    color: #ffffff;
}

#mobile-button, #desktop-button{
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
}
#mobile-button{
    background-color: teal;
}
#desktop-button{
    background-color: green;
}

/*mobile stuff*/
@media screen and (max-width: 1024px){

    body{
        max-width: 100%;
    }
}

@media screen and (max-width: 700px){
    .slide .slide-content{
        padding-left: 15px;
        padding-right: 15px;
    }
}


@media screen and (max-width: 450px){
    .about-image{
        max-height: 200px;
        max-width: 280px;
    }
}
/*For more vertical Displays*/
@media screen and (max-aspect-ratio: 960/720){
    #slide-0-0 {
        background-image: url('../images/vertical-background.jpg');
    }
}
@media screen and (max-aspect-ratio: 432/640){
    #slide-0-0 {
        background-image: url('../images/very-vertical-background.png');
    }
}